<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Montserrat&display=swap" rel="stylesheet">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="main.css">
</head>
<body style="font-family: 'Montserrat', sans-serif;">


    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" id="toggleButton" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" class="d-inline-block align-top" alt="">
                <!-- Bootstrap -->
              </a>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item .active ">
                  <a href="home" data-easing="easeInQuad" class="nav-link">Home</a>
        
                </li>
                <li class="nav-item">
                  <a href="about" data-easing="easeInQuad" class="nav-link active">About</a>
        
                </li>
                <li class="nav-item">
                  <a href="store"  data-easing="easeInQuad" class="nav-link">Store</a>
        
                </li>
                <li class="nav-item">
                  <a href="contact" data-easing="easeInQuad" class="nav-link">Contact</a>
        
                </li>
              </ul>
        </div>
    
      </nav>
      <a href="#top"  id="myBtn" title="Go to top">^</a>

      <section class="section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <img src="img/about/butcher_1.png" alt="" class="">
                  </div>
                  <div class="col-lg-6 my-auto">
                      <h1>About Our Firm</h1>
                      <p class="mt-3">we are committed to total transparency about our products.</p>
                      <img src="img/about/line.png" class="mt-3" alt="">
                      <p class="mt-3">Nunc elementum purus vel ex iaculis eleifend. Curabitur bibendum odio dui, at placerat antperer vitae. In hac habitasse platea dictumst. Phasellus nec sodales enim. Mauris malesuada nulla hole enim, nec eleifend lacus vulputate ut. Sed eu diam tellus. Sed feugiat, risus ut porta iaculis mauris metus volutpat metus, vitae egestas nibh neque vulputate libero.</p>
                      <a class="btn color mt-5">Button</a>


                  </div>
              </div>
          </div>
      </section>


      <section class="">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-lg-8 offset-md-2 text-center">
                    <h4 class="text-bold" style="font-family: 'Caveat', cursive;">THE TEAM</h4>
                    <img src="img/about/line-yal-2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
          <!--Carousel Wrapper-->
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/team/team1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8 my-auto">
                            <h2>Oge Priscillia</h2>
                            <p class="mt-3">Nunc elementum purus vel ex iaculis eleifend. Curabitur bibendum odio dui, at placerat antperer vitae. In hac habitasse platea dictumst. Phasellus nec sodales enim</p>
                            
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/team/team2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8 my-auto">
                            <h2>Adeboye Samuel</h2>
                            <p class="mt-3">Nunc elementum purus vel ex iaculis eleifend. Curabitur bibendum odio dui, at placerat antperer vitae. In hac habitasse platea dictumst. Phasellus nec sodales enim</p>
                            
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="img/team/team3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-8 my-auto">
                            <h2>Tola Adeboye</h2>
                            <p class="mt-3">Nunc elementum purus vel ex iaculis eleifend. Curabitur bibendum odio dui, at placerat antperer vitae. In hac habitasse platea dictumst. Phasellus nec sodales enim</p>
                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </section>

      <footer class="page-footer colorr font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">MD Fish</h5>
              <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Details</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Water Side,Babachino
                    Satellite Town,Festac Side,Lagos.</a>
                </li>
                <li>
                  <a href="#!">+234 810 313 9646</a>
                </li>
                <li>
                  <a href="#!">ezekielyoung23@gmail.com</a>
                </li>
                <li>
                  <a href="#!">__ezekielyoung</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Store Policy</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Shipping & Delivery</a>
                </li>
                <li>
                  <a href="#!">Terms & Conditions</a>
                </li>
                <li>
                  <a href="#!">FAQ</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 All Reversed
          Created By 
          <a href="https://mdbootstrap.com/">Chris Banks</a>
        </div>
        <!-- Copyright -->
      
      </footer>
          <!-- Always get the latest version -->
  <!-- Not recommended for production sites! -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get minor updates and patch fixes within a major version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get patch fixes within a minor version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get a specific version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
    // All animations will take exactly 500ms
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 500,
      speedAsDuration: true
    });
    var easeInQuart = new SmoothScroll('[data-easing="easeInQuart"]', {easing: 'easeInQuart'});
  </script>
      <!-- Footer -->
        <!-- End your project here-->
        <script type="text/javascript" src="app.js"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Your custom scripts (optional) -->
        <script type="text/javascript"></script>
      
      </body>
      </html>