<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Montserrat&display=swap" rel="stylesheet">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design for Bootstrap</title>
  <link rel="stylesheet" href="css/animate.css">  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="main.css">
</head>
<body style="font-family: 'Montserrat', sans-serif;">

  <!-- Start your project here-->  

  <header id="top">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-lg-2">
                <a href="#">
                    <img src="img/icons/facebook.png" class="icons mr-2" alt="HTML tutorial">
                </a>
                <a href="#">
                    <img src="img/icons/twitter.png" class="icons mr-2" alt="HTML tutorial">
                </a>
                <a href="#">
                    <img src="img/icons/whatsapp.png" class="icons" alt="HTML tutorial">
                </a>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-md navbar-dark">
  <button class="navbar-toggler"  id="toggleButton" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" class="d-inline-block align-top" alt="">
            <!-- Bootstrap -->
          </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item .active ">
          <a href="home" data-easing="easeInQuad" class="nav-link active">Home</a>

        </li>
        <li class="nav-item">
          <a href="about" data-easing="easeInQuad" class="nav-link">About</a>

        </li>
        <li class="nav-item">
          <a href="store"  data-easing="easeInQuad" class="nav-link">Store</a>

        </li>
        <li class="nav-item">
          <a href="contact" data-easing="easeInQuad" class="nav-link">Contact</a>

        </li>
      </ul>
    </div>

  </nav>
  <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url('img/carousel/fish3.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <h1 class=" wow zoomIn text-white">ORGANIC AND SUSTAINABLE
              SEA FOOD FOR YOU
          </h1>
          <div class="mt-3">
            <a class="btn text-white btn-rounded px-5 mr-2" href="#welcome" role="button">We are</a>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <a href="#top"  id="myBtn" title="Go to top">^</a>
  <!-- <button type="button" onclick="topFunction()"  class = "ml-auto" id="myBtn" title="Go to top">^</button> -->
  <section class="section-padding" id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 offset-md-3 text-center">
          <h2 class="caveat wow zoomIn" style="font-family: 'Caveat', cursive;">welcome</h2>
          <h3 class="text-bold">SEA FOOD COMPANY</h3>
        </div>
      </div>
      <div class="row mt-3 ">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body bg_image">
              <div class="container-fluid py-4">
                <div class="row">
                  <div class="col-lg-4 text-white wow fadeInDown">
                    <h3>Fish Tank</h3>

                    <p class="mt-4" style="font-size: 15px">
                      Fish markets range in size from small fish stalls,
                       such as the one in the photo at the right, to the great Tsukiji fish market in Tokyo, turning over about 660,000 tonnes a year.
                       The term can refer to the process.
                    </p>

                    <a class="btn color" href="#products">Products</a>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section-padding bg_color" id="products">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 offset-md-3 text-center">
          <h2 class="caveat" style="font-family: 'Caveat', cursive;">products</h2>
          <h3 class="text-bold">FEATURED ITEMS</h3>
          <img src="img/about/line-yal-2.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
          <div class="card wow fadeIn">
            <div class="view overlay zoom">
              <img src="img/salmon.jpg" style="height:300px;"class="" alt="smaple image">
              <div class="mask flex-center">
              </div>
           </div> 

            <div class="card-body card-body-cascade">
      
              <h4 class="font-weight-bold card-title">Titus</h4>
             
              <a class="btn" data-toggle="modal" data-target="#myModal">Order</a>
          
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card wow fadeIn">
            <div class="view overlay zoom">
              <img src="img/tilapia.jpg" style="height:300px;"class="" alt="smaple image">
              <div class="mask flex-center">
              </div>
          </div> 

            <div class="card-body card-body-cascade">
      
              <h4 class="font-weight-bold card-title">CatFish</h4>
             
              <a class="btn" data-toggle="modal" data-target="#myModal">Order</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card wow fadeIn">
            <div class="view overlay zoom">
              <img src="img/shrimp.jpg" style="height:300px;"class="" alt="smaple image">
              <div class="mask flex-center">
              </div>
          </div> 

            <div class="card-body card-body-cascade">
      
              <h4 class="font-weight-bold card-title">Kote</h4>
             
              <a class="btn" data-toggle="modal" data-target="#myModal">Order</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card wow fadeIn">
            <div class="view overlay zoom">
              <img src="img/snapper.jpg" style="height:300px;"class="" alt="smaple image">
              <div class="mask flex-center">
              </div>
          </div> 

            <div class="card-body card-body-cascade">
      
              <h4 class="font-weight-bold card-title">Shawa</h4>
             
              <a class="btn" data-toggle="modal" data-target="#myModal">Order</a>
            </div>
            </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6 col-md-6 offset-md-3 text-center">
          <a class="btn colorr text-white px-5 py-3 wow zoomIn" href="store" role="button">View More...</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-md-8 mx-auto  text-white text-center">
                          <h3 class="text-white text-bold">MD Fish</h3>
                          <img src="img/about/line.png" alt="" class="img-fluid">
                          <p class="text-white">LIVE WITH IT</p>
                          <p>order for...</p>
                          <h3 id="nameChange">TITUS</h3>

                      </div>
                      <!-- Default form register -->
                      <form class="text-center border border-light p-5" action="#!">

                          <div class="form-row mb-4">
                              <div class="col">
                                  <!-- First name -->
                                  <input type="text" id="defaultRegisterFormFirstName" class="form-control"
                                      placeholder="First name">
                              </div>
                              <div class="col">
                                  <!-- Last name -->
                                  <input type="text" id="defaultRegisterFormLastName" class="form-control"
                                      placeholder="Last name">
                              </div>
                          </div>

                          <!-- E-mail -->
                          <input type="text" id="defaultRegisterPhonePassword" class="form-control mb-4"
                              placeholder="Phone Number">

                          <!-- Password -->
                          <input type="number" id="defaultRegisterPhonePassword" class="form-control mb-4"
                              placeholder="Quantity" aria-describedby="defaultRegisterFormPasswordHelpBlock">


                          <!-- Phone number -->
                          <input type="text" id="defaultRegisterPhonePassword" class="form-control"
                              placeholder="Price" aria-describedby="defaultRegisterFormPhoneHelpBlock" readonly>



                          <!-- Sign up button -->
                          <button class="btn my-4 text-white color btn-block" type="submit">Order</button>
                          <hr style="background-color: white !important;">
                          <!-- Social register -->    
                          <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                          <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                          <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>


                      </form>
                      <!-- Default form register -->
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn text-white" data-dismiss="modal">Close</button>
              <button type="button" class="btn text-white">Save changes</button>
          </div>
      </div>
  </div>
</div>

  <!-- End Modal -->

  <section id="home" class=" section-padding" style="background-image:url('img/carousel/fish7.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="container">
      <div class="row ra">
        <div class="col-lg-4 col-md-4 text-center">
          <h1 style="color: white !important; font-size: 44.568px;"><b>324</b></h1>
          <hr class="hr">
          <p class="text-white text-uppercase">
            VARIETIES OF SHRIMP, MUSSELS, LOBSTER & FINFISH
          </p>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <h1 style="color: white !important; font-size: 44.568px;"><b>32</b></h1>
          <hr class="hr">
          <p class="text-white text-uppercase">
            VARIETIES OF SHRIMP, MUSSELS, LOBSTER & FINFISH
          </p>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <h1 style="color: white !important; font-size: 44.568px;"><b>122</b></h1>
          <hr class="hr">
          <p class="text-white text-uppercase">
            VARIETIES OF SHRIMP, MUSSELS, LOBSTER & FINFISH
          </p>
        </div>
      </div>
    </div>
    
  </section>

  <!-- <section class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <img class="card-img-bottom" src="img/bg_welcome.jpg" alt="Card image cap">
                  </div>
          </div>
      </div>
  </section> -->
  <section class="section-padding" id="course">
    <div class=" ">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 offset-md-3 text-center">
            <h2 class="caveat" style="font-family: 'Caveat', cursive;">flow</h2>
            <h3 class="text-bold">OUR PROCESS</h3>
            <img src="img/about/line.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <img src="img/process/confirm.png" alt="" class=" wow fadeIn img-fluid p-5">
            <h5 class="text-bold text-center" style=" font-weight:bold; color:rgb(167, 167, 39);">ORDER</h5>
            <p class="text-muted text-center" style="font-size: 15px">Fish markets range in size from small fish stalls, such as the one in the photo at the right,
               to the great Tsukiji fish market in Tokyo, turning over about 660,000 tonnes a year.</p>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="img/process/payment.png" alt="" class=" wow fadeIn img-fluid p-5">
            <h5 class="text-bold text-center" style="font-weight: bold;color:rgb(167, 167, 39);">PAY</h5>
            <p class="text-muted text-center" style="font-size: 15px">Fish markets range in size from small fish stalls, such as the one in the photo at the right,
               to the great Tsukiji fish market in Tokyo, turning over about 660,000 tonnes a year.</p>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="img/process/supplier.png" alt="" class=" wow fadeIn img-fluid p-5">
            <h5 class="text-bold text-center" style="font-weight: bold;color:rgb(167, 167, 39);">PACKAGE</h5>
            <p class="text-muted text-center" style="font-size: 15px">Fish markets range in size from small fish stalls, such as the one in the photo at the right,
               to the great Tsukiji fish market in Tokyo, turning over about 660,000 tonnes a year.</p>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="img/process/truck.png" alt="" class=" wow fadeIn img-fluid p-5">
            <h5 class="text-bold text-center" style="font-weight: bold;color:rgb(167, 167, 39);">DELIVER</h5>
            <p class="text-muted text-center" style="font-size: 15px">Fish markets range in size from small fish stalls, such as the one in the photo at the right,
               to the great Tsukiji fish market in Tokyo, turning over about 660,000 tonnes a year.</p>
          </div>
        </div>
      </div>

    </div>

  </section>

 

  <!-- Footer -->
<footer class="page-footer colorr font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">MD Fish</h5>
        <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Details</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Water Side,Babachino
              Satellite Town,Festac Side,Lagos.</a>
          </li>
          <li>
            <a href="#!">+234 810 313 9646</a>
          </li>
          <li>
            <a href="#!">ezekielyoung23@gmail.com</a>
          </li>
          <li>
            <a href="#!">__ezekielyoung</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Store Policy</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Shipping & Delivery</a>
          </li>
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 All Reversed
    Created By 
    <a href="https://mdbootstrap.com/">Chris Banks</a>
  </div>
  <!-- Copyright -->

</footer>
<script src="js/wow.min.js"></script>
<script>
new WOW().init();
</script>
  <!-- Always get the latest version -->
  <!-- Not recommended for production sites! -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get minor updates and patch fixes within a major version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get patch fixes within a minor version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get a specific version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
    // All animations will take exactly 500ms
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 500,
      speedAsDuration: true
    });
    var easeInQuart = new SmoothScroll('[data-easing="easeInQuart"]', {easing: 'easeInQuart'});
</script>
  <!-- Footer -->
  <!-- End your project here-->
  <script type="text/javascript" src="app.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body>
</html>
