<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/animate.css">  <!-- MDB icon -->

  <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Montserrat&display=swap" rel="stylesheet">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design for Bootstrap</title>
  <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="main.css">
</head>
<body style="font-family: 'Montserrat', sans-serif;">


    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" class="d-inline-block align-top" alt="">
                <!-- Bootstrap -->
              </a>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item .active ">
                  <a href="home" data-easing="easeInQuad" class="nav-link">Home</a>
        
                </li>
                <li class="nav-item">
                  <a href="about" data-easing="easeInQuad" class="nav-link">About</a>
        
                </li>
                <li class="nav-item">
                  <a href="store"  data-easing="easeInQuad" class="nav-link active">Store</a>
        
                </li>
                <li class="nav-item">
                  <a href="contact" data-easing="easeInQuad" class="nav-link">Contact</a>
        
                </li>
              </ul>
        </div>
    
      </nav>
      <a href="#top"  id="myBtn" title="Go to top">^</a>

    <section class="section-padding bg_color">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-md-3 text-center">
                    <h5 class="text-bold" style="font-family: 'Caveat', cursive;">products</h5>
                    <h3 class="text-bold">FEATURED ITEMS</h3>
                    <img src="img/about/line-yal-2.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row mt-5 wow fadeInUp">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/salmon.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Titus</h4>
    
                            <a class="btn" data-toggle="modal"  value = "Titus" onclick="change()" id="titus1" data-target="#myModal">Button</a>
    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/tilapia.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">CatFish</h4>
    
                            <a class="btn"data-toggle="modal" id="catfish1" data-target="#myModal">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/shrimp.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Kote</h4>
    
                            <a class="btn" data-toggle="modal" id="kote1" data-target="#myModal">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/snapper.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Shawa</h4>
    
                            <a class="btn" data-toggle="modal" id="shawa1" data-target="#myModal">Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 wow fadeInUp">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/salmon.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn">Button</a>
    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/tilapia.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn" data-toggle="modal" data-target="#tilapiaModal">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/shrimp.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/snapper.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn">Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 wow fadeInUp">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/salmon.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn">Button</a>
    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/tilapia.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn" data-toggle="modal" data-target="#tilapiaModal">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/shrimp.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn">Button</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="view overlay zoom">
                            <img src="img/snapper.jpg" style="height:300px;" class="" alt="smaple image">
                            <div class="mask flex-center">
                            </div>
                        </div>
    
                        <div class="card-body card-body-cascade">
    
                            <h4 class="font-weight-bold card-title">Cheat day inspirations</h4>
    
                            <a class="btn">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
    
        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">
    
    
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto  text-white text-center">
                                <h3 class="text-white text-bold">MD Fish</h3>
                                <img src="img/about/line.png" alt="" class="img-fluid">
                                <p class="text-white">LIVE WITH IT</p>
                                <p>order for...</p>
                                <h3 id="nameChange">TITUS</h3>
    
                            </div>
                            <!-- Default form register -->
                            <form class="text-center border border-light p-5" action="#!">
    
                                <div class="form-row mb-4">
                                    <div class="col">
                                        <!-- First name -->
                                        <input type="text" id="defaultRegisterFormFirstName" class="form-control"
                                            placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <!-- Last name -->
                                        <input type="text" id="defaultRegisterFormLastName" class="form-control"
                                            placeholder="Last name">
                                    </div>
                                </div>
    
                                <!-- E-mail -->
                                <input type="text" id="defaultRegisterPhonePassword" class="form-control mb-4"
                                    placeholder="Phone Number">
    
                                <!-- Password -->
                                <input type="number" id="defaultRegisterPhonePassword" class="form-control mb-4"
                                    placeholder="Quantity" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    
    
                                <!-- Phone number -->
                                <input type="text" id="defaultRegisterPhonePassword" class="form-control"
                                    placeholder="Price" aria-describedby="defaultRegisterFormPhoneHelpBlock" readonly>
    
    
    
                                <!-- Sign up button -->
                                <button class="btn my-4 text-white color btn-block" type="submit">Order</button>
                                <hr style="background-color: white !important;">
                                <!-- Social register -->    
                                <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                                <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                                <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
    
    
                            </form>
                            <!-- Default form register -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn text-white">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer colorr font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">MD Fish</h5>
              <!-- <p>Here you can use rows and columns to organize your footer content.</p> -->
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Details</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Water Side,Babachino
                    Satellite Town,Festac Side,Lagos.</a>
                </li>
                <li>
                  <a href="#!">+234 810 313 9646</a>
                </li>
                <li>
                  <a href="#!">ezekielyoung23@gmail.com</a>
                </li>
                <li>
                  <a href="#!">__ezekielyoung</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Store Policy</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Shipping & Delivery</a>
                </li>
                <li>
                  <a href="#!">Terms & Conditions</a>
                </li>
                <li>
                  <a href="#!">FAQ</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 All Reversed
          Created By 
          <a href="https://mdbootstrap.com/">Chris Banks</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <script src="js/wow.min.js"></script>
<script>
new WOW().init();
</script>
      <!-- Footer -->
        <!-- Always get the latest version -->
  <!-- Not recommended for production sites! -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get minor updates and patch fixes within a major version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get patch fixes within a minor version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Get a specific version -->
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
    // All animations will take exactly 500ms
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 500,
      speedAsDuration: true
    });
    var easeInQuart = new SmoothScroll('[data-easing="easeInQuart"]', {easing: 'easeInQuart'});
  </script>
        <!-- End your project here-->
        <script type="text/javascript" src="app.js"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Your custom scripts (optional) -->
        <script type="text/javascript"></script>
      
      </body>
      </html>